@font-face {
                    font-family: TikTokFont;
                    src: local("TikTokFont-Regular"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Regular.woff2?_default_font=1&v=1) format("woff2"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Regular.woff?_default_font=1&v=1) format("woff"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Regular.otf?_default_font=1&v=1) format("opentype");
                    font-weight: 400;
                    font-style: normal;
                    font-display: fallback;
                }

                @font-face {
                    font-family: TikTokFont;
                    src: local("TikTokFont-Medium"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.woff2?_default_font=1&v=1) format("woff2"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.woff?_default_font=1&v=1) format("woff"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.otf?_default_font=1&v=1) format("opentype");
                    font-weight: 500;
                    font-style: normal;
                    font-display: fallback;
                }

                @font-face {
                    font-family: TikTokFont;
                    src: local("TikTokFont-Medium"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.woff2?_default_font=1&v=1) format("woff2"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.woff?_default_font=1&v=1) format("woff"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.otf?_default_font=1&v=1) format("opentype");
                    font-weight: 600;
                    font-style: normal;
                    font-display: fallback;
                }

                @font-face {
                    font-family: TikTokFont;
                    src: local("TikTokFont-Bold"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Bold.woff2?_default_font=1&v=1) format("woff2"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Bold.woff?_default_font=1&v=1) format("woff"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Bold.otf?_default_font=1&v=1) format("opentype");
                    font-weight: 700;
                    font-style: normal;
                    font-display: fallback;
                }

                @font-face {
                    font-family: TikTokDisplayFont;
                    src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Regular.woff2?_default_font=1&v=1) format("woff2"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Regular.woff?_default_font=1&v=1) format("woff"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Regular.otf?_default_font=1&v=1) format("opentype");
                    font-weight: 400;
                    font-style: normal;
                    font-display: fallback;
                }

                @font-face {
                    font-family: TikTokDisplayFont;
                    src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.woff2?_default_font=1&v=1) format("woff2"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.woff?_default_font=1&v=1) format("woff"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.otf?_default_font=1&v=1) format("opentype");
                    font-weight: 500;
                    font-style: normal;
                    font-display: fallback;
                }

                @font-face {
                    font-family: TikTokDisplayFont;
                    src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.woff2?_default_font=1&v=1) format("woff2"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.woff?_default_font=1&v=1) format("woff"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.otf?_default_font=1&v=1) format("opentype");
                    font-weight: 600;
                    font-style: normal;
                    font-display: fallback;
                }

                @font-face {
                    font-family: TikTokDisplayFont;
                    src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Bold.woff2?_default_font=1&v=1) format("woff2"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Bold.woff?_default_font=1&v=1) format("woff"),url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Bold.otf?_default_font=1&v=1) format("opentype");
                    font-weight: 700;
                    font-style: normal;
                    font-display: fallback;
                }
                

h1,h2,p{
    font-family: TikTokDisplayFont;
}